 body {
 	
 	background-color: #eaeff9;
} 

 /**HEADER**/
 #header-nav {
 	background-color: #F2EDD8;
 	border-radius: 0;
 	border: 0;
 }

.navbar-brand {
  padding-top: 10px;
}

.navbar-brand h1 { /* Restaurant name */
  color: #018fba;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#menu-collapse {
  background-color: #E5E5EA
}

#menu-items {
  margin-top: 10px;
}
#menu-items a {
  color: #018fba;
  text-align: center;
}
#menu-items a:hover {
  background: #7388a1;
  color: #ffffff;
}
#menu-items a {
  font-size: 1em;
  font-weight: bold;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #7388a1;
}


 /**HEADER END**/

/**Our menu**/
#Our-menu h2 {
  font-weight: Bold;
}

#menu1, #menu2, #menu3 {
  background-color: #a5b4c5;
  margin: 10px;
  padding: 30px 15px 15px 15px;
  text-align: justify;
  color: #242222;
}

#menu1 h3, #menu2 h3, #menu3 h3 {
  font-weight: bold;


